@media screen and (max-width: 1024px) {
    #top_screen {
        grid-template-columns: 1fr;
        padding: 85px 25px 40px;
        grid-template-rows: auto;
    }

    .top_screen__right {
        background-color: transparent;
        margin-top: 35px;
    }

    .top_screen_right__video {
        position: initial;
        transform: translateY(0) translateX(0);
    }

    .top_screen_right__video .play_button__wrap {
        width: 70px;
        height: 70px;
    }

}
@media screen and (max-width: 480px) {
    .top_screen__left {
        padding-right: 0;
    }
}
#gallery {
    padding-top: 55px;
    padding-bottom: 37px;
}

#gallery .splide__list {
    display: flex;
}

#gallery .gallery_item {
    width: 100%;
}

.gallery_item a {
    display: block;
}

.gallery_item img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border: 2px solid #3298F2;
    border-radius: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.gallery_item img:hover {
    border-color: #FF9638;
}

#gallery .splide__arrow:hover {
    opacity: 1;
}

#gallery .splide__arrow--prev {
    left: -1em;
}

#gallery .splide__arrow--next {
    right: -1em;
}

@media screen and (max-width: 1024px) {
    #gallery .splide__arrow--next {
        right: 1em;
    }

    #gallery .splide__arrow--prev {
        left: 1em;
    }
}

#direction {
    padding-top: 40px;
    padding-bottom: 50px;
}

.direction_grid {
    display: flex;
    justify-content: space-between;
}

.direction_item {
    position: relative;
    width: 23%;
    border: 1px solid #9DC6EA;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 53px;
    transition: .3s;
}

.direction_item a {
    display: block;
    background-color: #E6EDF3;
    font-weight: bold;
    color: #000000;
    border-radius: 0 0 20px 20px;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.direction_item a:hover {
    background-color: #3298F2;
}

#direction .splide__list {
    width: auto;
}

.direction_item__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #3298F2;
    margin-bottom: 37px;
}

.direction_item__icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

#direction .splide__track {
    padding-top: 50px;
}

#direction .splide__pagination {
    bottom: -35px;
}

#direction .splide__pagination__page.is-active {
    background-color: #46ABE3;
    opacity: 1;
    border: 2px solid #000;
}

#direction .splide__pagination__page {
    background-color: #46ABE3;
    opacity: .25;
}

@media screen and (max-width: 480px) {
}
.directions_item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: block;
}

.pro-developer_image img {
    width: 100%;
}

#index .block img {
    position: absolute;
    right: 75px;
    bottom: 0;
}



li {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Ð’Ñ‹ÑÑ‚Ð°Ð²Ð»ÑÐµÐ¼ Ð¾ÑÐ½Ð¾Ð²Ð½Ñ‹Ðµ Ð½Ð°ÑÑ‚Ñ€Ð¾Ð¹ÐºÐ¸ Ð¿Ð¾-ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ Ð´Ð»Ñ body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    /*line-height: 1.5;*/
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    overflow-x: hidden;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}

.center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.sub_title {
    font-size: 18px;
    line-height: 26px;
    width: 65%;
    margin: 34px auto 0;
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.h1_heading {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

.h2_heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 36px;
}

.h3_heading {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 26px;
}

.blue {
    color: #3298f2;
}

.orange {
    color: #ff9638;
}

.yellow {
    color: #FFD43D;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.green {
    color: #72CC37;
}

.bg_blue {
    background-color: rgba(71, 162, 232, 0.85);
}

.bg_orange {
    background-color: #ff9638;
}

.bg_yellow {
    background-color: #FFD43D;
}

.bg_white {
    background-color: #ffffff;
}

.bg_black {
    background-color: #282828;
}

.bg_light {
    background-color: #EDF4FB;
}

.border_blue {
    color: #3298f2;
}

.border_orange {
    color: #ff9638;
}

.border_yellow {
    color: #FFD43D;
}

.border_white {
    color: #ffffff;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

#directions {
    background: #292929;
    padding-top: 39px;
    padding-bottom: 50px;
}

.directions_wrap__item {
    max-width: 30%;
    width: 430px;
}

.directions_wrap__item:hover .directions_item, .directions_wrap__item:hover .directions_button {
    border-color: #FF9638;
}

.directions_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212121;
    border: solid #454545;
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    padding-top: 25px;
    padding-bottom: 28px;
    transition: .3s;
}

.directions_item__title {
    font-weight: bold;
    line-height: 20px;
}

.directions_item__title span {
    display: block;
}

.directions_item .course-type {
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 15px;
}

.directions_item__description {
    font-weight: 500;
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 49px;
}

.directions_item__counter {
    font-weight: bold;
    font-size: 14px;
}

.directions_button {
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    border: 1px solid #454545;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    transition: .3s;
    cursor: pointer;
    height: 47px;
    text-decoration: none;
}

.directions_button:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ff9638;
}

.directions_slider .splide__list {
    display: flex;
}

.directions_slider .splide {
    visibility: inherit;
}

.directions_slider .splide__arrow--prev {
    left: -15px;
    background-color: #72CC37;
}

.directions_slider .splide__arrow--next {
    right: -15px;
    background-color: #72CC37;
}

.directions_slider {
    margin-top: 50px;
}

#pro-developer {
    position: relative;
    padding-top: 79px;
}

.pro-developer_grid {
    display: grid;
    grid-template-columns: 500px 650px;
    grid-column-gap: 150px;
    margin-top: 50px;
}
.pro-developer_text {
    margin-top: 55px;
    padding: 30px;
    position: relative;
    height: fit-content;
    font-size: large;
}
